# For a full list of active aliases, run `alias`.

alias zshconfig="nvim ~/.zshrc"
alias ohmyzsh="nvim ~/.oh-my-zsh"
alias reload="source ~/.zshrc"

alias aliases="nvim ~/.aliases"
alias exports="nvim ~/.exports"

# https://dev.to/rawkode/tip-5-replacing-ls-with-exa-3o5n
# ls
TREE_IGNORE="cache|log|logs|node_modules|vendor"

alias ls=' exa --group-directories-first'
alias la=' ls -a'
alias ll=' ls --git -l'
alias lt=' ls --tree -D -L 2 -I ${TREE_IGNORE}'
alias ltt=' ls --tree -D -L 3 -I ${TREE_IGNORE}'
alias lttt=' ls --tree -D -L 4 -I ${TREE_IGNORE}'
alias ltttt=' ls --tree -D -L 5 -I ${TREE_IGNORE}'

# https://dev.to/rawkode/tip-3-create-a-tmp-alias-f6h
alias tmp=' cd $(mktemp -d)'

# Starts VLC with Discord Rich Presence Integration on my Mac.
#alias vlc="/jack/Documents/VLCRP/start.sh"

alias msf="cd /opt/metasploit-framework/bin && ./msfconsole"
alias sherlock="python3 sherlock"

# Pywal
alias gw="cd ~/Pictures/Wallpapers"
# alias ww="wal -e -i"
ww () 
{
    wal -e -i "$1" && pywalfox update 
    \&& rm -f ~/Documents/GitHub/Bento/assets/background.jpg 
    \&& cp "$1" ~/Documents/GitHub/Bento/assets/background.jpg 
    \&& cd ~/Documents/GitHub/Bento && git add . 
    \&& git commit -m "automated background update" && git push && gw
}

reloadClear ()
{
    reload && clear
}
eval $(thefuck --alias)
. /usr/local/etc/profile.d/z.sh

# Custom alises
alias ports="netstat -tulanp"
alias diff="colordiff"
alias mount="mount |column -t"
alias h="history"
alias j="jobs -l"
alias c="clear"
alias su="sudo -i"
alias nf="clear && neofetch && read"
