# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
alias zshconfig="nano ~/.zshrc"
alias ohmyzsh="nano ~/.oh-my-zsh"
# alias ls="colorls — light — sort-dirs — report"
# alias lc="colorls — tree — light"
alias ls="colorls"
source $(dirname $(gem which colorls))/tab_complete.sh

# VLC alias - hi, this will only work on my Mac unless I upload the start script, what it does it start VLC with Discord rich presence
alias vlc="/jack/Documents/VLCRP/start.sh"

# Custom alises
alias ports="netstat -tulanp"
alias diff="colordiff"
alias mount="mount |column -t"
alias h="history"
alias j="jobs -l"
alias c="clear"
alias root="sudo -i"
alias su="sudo -i"
alias nf="neofetch"
# System Usage aliases - okay I found these online, all of these don't work on my mac so oops.
#alias meminfo="free -m -l -t"
#alias psmem="ps auxf | sort -nr -k 4"
#alias psmem10="ps auxf | sort -nr -k 4 | head -10"
#alias pscpu="ps auxf | sort -nr -k 3"
#alias pscpu10="ps auxf | sort -nr -k 3 | head -10"
#alias cpuinfo="lscupu"
#alias gpumeminfo="grep -i --color memory /var/log/Xorg.o.log"
