# hi, for a full list of exports, run `exports`.

# Add scripts to the path, so that way I can use them.
export PATH="$PATH:$HOME/scripts"

# OKay, hi, so even though I have the above thingy-majig uhh it's not working for this script I made so im gonna do it here!
# oops this should be in ~/.alises but the thing aBOVe?
alias cool="$HOME/scripts/cool.sh"
alias coochie="$HOME/scripts/coochie.sh"
alias penis="$HOME/scripts/penis.sh"

# Add Visual Studio Code (code)
export PATH="$PATH:/Applications/Visual Studio Code.app/Contents/Resources/app/bin"

#source ./zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
# Hi future Jack, make sure you do this

source $HOME/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# This is for iTerm2 shell integration on my mac
source ~/.iterm2_shell_integration.zsh

#Uhhh I think I SDKMAN because its used to do something with gradle, I wrote a guide someplace...

export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"

# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
export PATH="$PATH:$HOME/.rvm/bin"

# lol i forgot what this is for, I think it's for homebrew, but idk, also, why do all of these things say they have to be the very last PATH change, smh.
export PATH="/usr/local/sbin:$PATH"

# npm
# export NVM_DIR=~/.nvm
#  [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"

# more npm?
export PATH=/usr/local/share/npm/bin:$PATH

# ==> docbook
# To use the DocBook package in your XML toolchain,
# you need to add the following to your ~/.bashrc:

export XML_CATALOG_FILES="/usr/local/etc/xml/catalog"
